@charset "UTF-8";

 
.insiden {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    word-wrap: break-word;
    border: 1px solid black;
}

.bencana {
    color: white;
    background-image: -webkit-linear-gradient(bottom left, #990000, #ff704d);
    background-image: -o-linear-gradient(bottom left, #990000, #ff704d);
    background-image: linear-gradient(to top right, #990000, #ff704d);  
}

.kebijakan {
    color: white;
    background-image: -webkit-linear-gradient(bottom left, #1f7a1f, #5cd65c);
    background-image: -o-linear-gradient(bottom left, #1f7a1f, #5cd65c);
    background-image: linear-gradient(to top right, #1f7a1f, #5cd65c);  
}

.fraud {
    color: white;
    background-image: -webkit-linear-gradient(bottom left, #5900b3, #bf80ff);
    background-image: -o-linear-gradient(bottom left, #5900b3, #bf80ff);
    background-image: linear-gradient(to top right, #5900b3, #bf80ff);  
}

.kepatuhan {
    color: white;
    background-image: -webkit-linear-gradient(bottom left, #006666, #00e6e6);
    background-image: -o-linear-gradient(bottom left, #006666, #00e6e6);
    background-image: linear-gradient(to top right, #006666, #00e6e6);  
}

.operasional {
    color: white;
    background-image: -webkit-linear-gradient(bottom left, #b36b00, #ffb366);
    background-image: -o-linear-gradient(bottom left, #b36b00, #ffb366);
    background-image: linear-gradient(to top right, #b36b00, #ffb366);  
}

.stakeholder {
    color: white;
    background-image: -webkit-linear-gradient(bottom left, #91910f, #ffff80);
    background-image: -o-linear-gradient(bottom left, #91910f, #ffff80);
    background-image: linear-gradient(to top right, #91910f, #ffff80);  
}

.man {
    color: black;
    background-image: -webkit-linear-gradient(bottom left, #ff704d, white);
    background-image: -o-linear-gradient(bottom left, #ff704d, white);
    background-image: linear-gradient(to top right, #ff704d, white);  
}

.money {
    color: black;
    background-image: -webkit-linear-gradient(bottom left, #5cd65c, white);
    background-image: -o-linear-gradient(bottom left, #5cd65c, white);
    background-image: linear-gradient(to top right, #5cd65c, white);  
}

.method {
    color: black;
    background-image: -webkit-linear-gradient(bottom left, #bf80ff, white);
    background-image: -o-linear-gradient(bottom left, #bf80ff, white);
    background-image: linear-gradient(to top right, #bf80ff, white);  
}

.material {
    color: black;
    background-image: -webkit-linear-gradient(bottom left, #00e6e6, white);
    background-image: -o-linear-gradient(bottom left, #00e6e6, white);
    background-image: linear-gradient(to top right, #00e6e6, white);  
}

.machine {
    color: black;
    background-image: -webkit-linear-gradient(bottom left, #ffb366, white);
    background-image: -o-linear-gradient(bottom left, #ffb366, white);
    background-image: linear-gradient(to top right, #ffb366, white);  
}

.external {
    color: black;
    background-image: -webkit-linear-gradient(bottom left, #ffff80, white);
    background-image: -o-linear-gradient(bottom left, #ffff80, white);
    background-image: linear-gradient(to top right, #ffff80, white);  
}

.box1 {
    color: white;
    border-radius: 10px;
    padding: 5px;
    top:0px;
    left: 0px;
    width: 800px;
    height: 90px;
    background-image: -webkit-linear-gradient(bottom left, #009999, #ccffcc);
    background-image: -o-linear-gradient(bottom left, #009999, #ccffcc);
    background-image: linear-gradient(to top right, #009999, #ccffcc);
}

.box2 {
    color: white;
    border-radius: 10px;
    padding: 5px;
    top:0px;
    left: 0px;
    width: 100%;
    height: 90px;
}

.box3 {
  display: block;
  vertical-align: middle;
  margin-left: 40px;
}

.box4 {
  text-align: center;
  display: block;
  vertical-align: middle;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(bottom left, #b30000, #ff3300);
  background-image: -o-linear-gradient(bottom left, #b30000, #ff3300);
  background-image: linear-gradient(to top right, #b30000, #ff3300);
}

.box5 {
  text-align: center;
  display: block;
  vertical-align: middle;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(bottom left, #1f7a1f, #2eb82e);
  background-image: -o-linear-gradient(bottom left, #1f7a1f, #2eb82e);
  background-image: linear-gradient(to top right, #1f7a1f, #2eb82e);
}

h1.ex1 {
  margin-left: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 400%;
}

text.ex1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 200%;
}

text.ex2 {
  color: pink;
  text-align: center; 
  font-weight: bold;
  font-size: 100%;
  line-height: 1;
}

text.ex3 {
  color: lime;
  text-align: center; 
  font-weight: bold;
  font-size: 100%;
  line-height: 1;
}

.sbright {
  fill:#006633; 
}

.sbmid {
  fill:#FF6600; 
}

.sbleft {
  fill:#b30000;
}

.navibar {
  width: 100%;
  background-color: #009933;
  overflow: auto;
}

.navibar2 {
  width: 100%;
  background-color:white;
  overflow: auto;
}

.navibar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 16.66%; /* Six links of equal widths */
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.navibar2 a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 100%; 
  text-align: center;
}
.navibar a:hover {
  background-color: #003399;
}

@media screen and (max-width: 500px) {
  .navibar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.mapdiv {
	width:100%;
}

.table1 {
	width:80%;
}

.mapdiv path {
	fill: #009933;
	transition: fill 0.3s;
}

.mapdiv :hover{
	fill:#003399;
	stroke: #003399;
}

.modal-full {
    min-width: 80%;
    margin-left: 80;
}

.modal-full .modal-content {
    min-height: 100vh;
}